@font-face {
    font-family: "IBM Plex Sans";
    src: url("../fonts/Regular/IBMPlexSans.eot");
    src: url('../fonts/IBMPlexSans?#iefix') format('embeddedopentype'),
    url("../fonts/Regular/IBMPlexSans.woff2") format("woff2"),
    url("../fonts/Regular/IBMPlexSans.woff") format("woff"),
    url("../fonts/Regular/IBMPlexSans.ttf") format("truetype"),
    url("../fonts/Regular/IBMPlexSans.otf") format("opentype"),
    url('../fonts/Regular/IBMPlexSans.svg#svgIBMPlexSans') format('svg');
    font-style: normal;
    font-weight: normal;    
}

@font-face {
    font-family: "IBM Plex Sans Medium";
    src: url("../fonts/Medium/IBMPlexSans-Medium.eot");
    src: url('../fonts/Medium/IBMPlexSans-Medium.eot?#iefix') format('embeddedopentype'),
    url("../fonts/Medium/IBMPlexSans-Medium.woff2") format("woff2"),
    url("../fonts/Medium/IBMPlexSans-Medium.woff") format("woff"),
    url("../fonts/Medium/IBMPlexSans-Medium.ttf") format("truetype"),
    url("../fonts/Medium/IBMPlexSans-Medium.otf") format("opentype"),
    url('../fonts/Medium/IBMPlexSans-Medium.svg#svgIBMPlexSans-Medium') format('svg');
    font-style: normal;
    font-weight: normal;    
}


@font-face {
    font-family: "IBM Plex Sans Light";
    src: url("../fonts/Light/IBMPlexSans-Light.eot");
    src: url('../fonts/Light/IBMPlexSans-Light.eot?#iefix') format('embeddedopentype'),
    url("../fonts/Light/IBMPlexSans-Light.woff2") format("woff2"),
    url("../fonts/Light/IBMPlexSans-Light.woff") format("woff"),
    url("../fonts/Light/IBMPlexSans-Light.ttf") format("truetype"),
    url("../fonts/Light/IBMPlexSans-Light.otf") format("opentype"),
    url('../fonts/Light/IBMPlexSans-Light.svg#IBMPlexSans-Light') format('svg');
    font-style: normal;
    font-weight: normal;    
}

@font-face {
    font-family: "IBM Plex Sans Italic";
    src: url("../fonts/Italic/IBMPlexSans-Italic.eot");
    src: url('../fonts/Italic/IBMPlexSans-Italic.eot?#iefix') format('embeddedopentype'),
    url("../fonts/Italic/IBMPlexSans-Italic.woff2") format("woff2"),
    url("../fonts/Italic/IBMPlexSans-Italic.woff") format("woff"),
    url("../fonts/Italic/IBMPlexSans-Italic.ttf") format("truetype"),
    url("../fonts/Italic/IBMPlexSans-Italic.otf") format("opentype"),
    url('../fonts/Italic/IBMPlexSans-Italic.svg#svgIBMPlexSans-Italic') format('svg');
    font-style: normal;
    font-weight: normal;    
}





body{
    width: 100vw;
    height: 100%;
    margin-bottom: -150px;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;      
    font-size: 16px;
    line-height: 1.5em;
    color: #fff;
    background-image: url(../images/noise.jpg);
    background-position: bottom bottom;
    background-size: cover;
    background-repeat: no-repeat;

}


header {
    padding-top: 80px;
}

.logo  {
float: left;
width: 97px;
display: block;
margin-right: 27px;
margin-left: 19px;
}



.fond_title {
    text-transform: uppercase;
    max-width: 300px;
    font-size: 16px;
    font-family: 'IBM Plex Sans';
    text-align: left;
    line-height: 1.125;
}

.offer {
  font-size: 40px;
  font-family: "IBM Plex Sans Light";
  
  color: rgb(255, 255, 255);
 line-height: 40px;
  font-weight: normal;
  margin-top: 110px;
}


.offer_sum {
  font-size: 80px;
  font-family: "IBM Plex Sans";
  color: rgb(80, 227, 194);
  font-weight: bold;
  text-transform: uppercase;
  /*line-height: 0.225; */
  display: block; 
  line-height: 80px;
}

.get_offer {
  background-image: -moz-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  background-image: -webkit-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  background-image: -ms-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  box-shadow: 0px 19px 142px 0px rgba(0, 0, 0, 0.72);
  font-size: 18px;
  font-family: "IBM Plex Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
  text-align: center; 
  width: 366px;
  height: 79px;
  line-height: 79px;
  text-transform: uppercase; 
  display: block;
  text-decoration: none;
  /*transition-property: background-color;
   transition: .2s;*/
  
  }
.get_offer:hover{
 
 background-image: none;
 background-color:rgba(80, 227, 194, 0.8);
}



.icon_ball {
    display: inline-block;
    max-height: 29px;
    margin-right: 21px;
}

.video_block {
    height: 366px;
}


ul.out_of_interest > li {
        display: inline;    
        list-style: none;  
         /*width: 367px;
         height: 365px;
            border: solid 1px #000000;
            background-color: #fff;*/
    }



/*.out_text {
  font-size: 40px;
  font-family: "IBM Plex Sans";
  color: rgb(25, 25, 25);
  line-height: 1.25;
  text-align: left;
  background-color: rgb(254, 254, 254);
  width: 367px;
  height: 365px;  
}*/

div.flex_line {
   /* display: flex;*/
   height: 365px;
   background-color: red;
}

.out_text.directions {
  
  position: relative;
}



/*
.out_text,
.acceptable_text {
 
   width: 33%;
   height: 365px;  
   display: inline;
   
}*/

.content_block.white {
  background-color: rgb(254, 254, 254);
  position: relative;
  color: #000;
  
}

.content_block.black {
   color: #fff; 
  background-color: rgba(0, 0, 0, 0.6);
}

.out_interest_white{
   color: #fff;    
   bottom: 20px;
   text-align: center;
   /*margin:auto;*/
}
.out_of_icon {
    display: inline-block;
    width: 100px;
    height: 97px;
   
}

.acceptable_icon {
    width: 83px;
  height: 63px;  
}

.back_icon {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 0;


    
}



.content_block.green {
  background-image: -moz-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  background-image: -webkit-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  background-image: -ms-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  box-shadow: 0px 19px 142px 0px rgba(0, 0, 0, 0.72);  
  max-width: 367px;
  height: 365px;
  
}

.acceptable_text.block{
 background-image: url('../images/icon1.png');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
  max-width: 367px;
  height: 365px;
  font-size: 20px;
  font-family: "IBM Plex Sans";
  color: rgb(37, 37, 37);
  /*line-height: 1.5;*/
}

.criterion {
  font-size: 40px;
  font-family: "IBM Plex Sans";
  color: rgb(255, 255, 255);
  line-height: 1.25;
}

.galka {
  background-image: -moz-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  background-image: -webkit-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  background-image: -ms-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  box-shadow: 0px 19px 142px 0px rgba(0, 0, 0, 0.72);
  
}


.content_block {
    padding-right: 0;
    padding-left: 0;   
    height: 365px;
}


.cross {
    height: 50px;
    width: 50px;
    background-color: red;
}


.x {
  width: 50px;
  height: 50px;
  position: relative;
}

.x::before,
.x::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-right: 5px solid #fff;
}

.x::before {
  transform: rotate(45deg) translate(-25px, 0);
}

.x::after {
  transform: rotate(-45deg) translate(-25px, 0);
}

.project_author {
    max-width: 80vw;
    position: absolute;
    top: 0%;
    right: 5%;
}




/*---------------------------------------
   SECTION FOOTER              
-----------------------------------------*/

.footer {
    background-color: #000;
    min-height: 150px;
    line-height: 150px;
    border-bottom: 1px solid #fff;
    
}
p.copyright {
    color: #fff;
    font-family: 'IBM Plex Sans';
    text-align: left;
    font-size: 16px;
    display: inline;
}

div.social_iconsBlock {
    display: inline-block;
    float: right;
    margin-right: 15px;
    padding-bottom: 13px;
}

div.social_iconsBlock a {
    
    display: inline-block;
    margin-right: -5px;
}


img.social_icon {
    display: inline-block;
    height: 50px;
    transition-property: all;
    transition: .4s;
}

img.social_icon:hover{
opacity: 0.8;
transform:scale(1.5);
}
 


.form_container {
    min-height: 550px;
    padding-bottom: 30px;
    padding-top: 30px;
    
}


#msform {
    width: 90%;
    margin: 50px auto;
    text-align: center;
    position: relative;
    
}
#msform fieldset {   
    border: 0 none;
    border-radius: 3px;   
    padding: 10px 0px;    
    box-sizing: border-box;
    width: 100%;    
    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
#msform .action-button {
    width: 331px;
  height: 80px;
   background-image: -moz-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  background-image: -webkit-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  background-image: -ms-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  box-shadow: 0px 19px 142px 0px rgba(0, 0, 0, 0.72);
    font-weight: bold;
    color: #fff;
    /*border: 0 none;
    border-radius: 1px;*/
    cursor: pointer;
    /*padding: 10px 5px;
    margin: 10px 5px;*/
}


textarea {
    height: 319px;

}

.first_part {
    width: 73%;
     float: left;
}

.second_part {
    width: 25%;
    float: right;
}



#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px rgba(80, 227, 194, 0.8);
    background-color: red;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: none;
    color: #fff;
    margin-bottom: 10px;
    text-align: left;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    max-width: 440px;
    /*margin:auto;*/
    margin-bottom: 30px;
    float: left;


}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
   /* width: 25%;*/
    width: 80px;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    display: block;
    font-size: 20px;
    color: #fff;
    background-color: rgba(80, 227, 194, 0.8);   
    
}




/*progressbar connectors*/
/*#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;*/ /*put it behind the numbers*/
/*}*/
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background-color: rgb(80, 227, 194);

    color: #fff;
}




.file-upload {
     position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
     overflow: hidden; /* Все что выходит за пределы - скрываем */
     width: 157px;
     height: 60px;
     background: #fff;
     border-radius: 3px;
     padding: 8px 4px;
     color: #000;
     text-align: center;
    
}
.file-upload:hover {
     background: #ddd;
}
.file-upload input[type="file"]{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
     /* Растягиваем label на всю возможную площадь блока .file-upload */
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
}
.file-upload span {
     line-height: 60px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}