@font-face {
    font-family: "IBM Plex Sans";
    src: url("../fonts/Regular/IBMPlexSans.eot");
    src: url('../fonts/IBMPlexSans?#iefix') format('embeddedopentype'),
    url("../fonts/Regular/IBMPlexSans.woff2") format("woff2"),
    url("../fonts/Regular/IBMPlexSans.woff") format("woff"),
    url("../fonts/Regular/IBMPlexSans.ttf") format("truetype"),
    url("../fonts/Regular/IBMPlexSans.otf") format("opentype"),
    url('../fonts/Regular/IBMPlexSans.svg#svgIBMPlexSans') format('svg');
    font-style: normal;
    font-weight: normal;    
}

@font-face {
    font-family: "IBM Plex Sans Medium";
    src: url("../fonts/Medium/IBMPlexSans-Medium.eot");
    src: url('../fonts/Medium/IBMPlexSans-Medium.eot?#iefix') format('embeddedopentype'),
    url("../fonts/Medium/IBMPlexSans-Medium.woff2") format("woff2"),
    url("../fonts/Medium/IBMPlexSans-Medium.woff") format("woff"),
    url("../fonts/Medium/IBMPlexSans-Medium.ttf") format("truetype"),
    url("../fonts/Medium/IBMPlexSans-Medium.otf") format("opentype"),
    url('../fonts/Medium/IBMPlexSans-Medium.svg#svgIBMPlexSans-Medium') format('svg');
    font-style: normal;
    font-weight: normal;    
}


@font-face {
    font-family: "IBM Plex Sans Light";
    src: url("../fonts/Light/IBMPlexSans-Light.eot");
    src: url('../fonts/Light/IBMPlexSans-Light.eot?#iefix') format('embeddedopentype'),
    url("../fonts/Light/IBMPlexSans-Light.woff2") format("woff2"),
    url("../fonts/Light/IBMPlexSans-Light.woff") format("woff"),
    url("../fonts/Light/IBMPlexSans-Light.ttf") format("truetype"),
    url("../fonts/Light/IBMPlexSans-Light.otf") format("opentype"),
    url('../fonts/Light/IBMPlexSans-Light.svg#IBMPlexSans-Light') format('svg');
    font-style: normal;
    font-weight: normal;    
}

@font-face {
    font-family: "IBM Plex Sans Italic";
    src: url("../fonts/Italic/IBMPlexSans-Italic.eot");
    src: url('../fonts/Italic/IBMPlexSans-Italic.eot?#iefix') format('embeddedopentype'),
    url("../fonts/Italic/IBMPlexSans-Italic.woff2") format("woff2"),
    url("../fonts/Italic/IBMPlexSans-Italic.woff") format("woff"),
    url("../fonts/Italic/IBMPlexSans-Italic.ttf") format("truetype"),
    url("../fonts/Italic/IBMPlexSans-Italic.otf") format("opentype"),
    url('../fonts/Italic/IBMPlexSans-Italic.svg#svgIBMPlexSans-Italic') format('svg');
    font-style: normal;
    font-weight: normal;    
}


@font-face {
    font-family: "IBM Plex Sans Bold";
    src: url("../fonts/Bold/IBMPlexSans-Bold.eot");
    src: url('../fonts/Bold/IBMPlexSans-Bold.eot?#iefix') format('embeddedopentype'),
    url("../fonts/Bold/IBMPlexSans-Bold.woff2") format("woff2"),
    url("../fonts/Bold/IBMPlexSans-Bold.woff") format("woff"),
    url("../fonts/Bold/IBMPlexSans-Bold.ttf") format("truetype"),
    url("../fonts/Bold/IBMPlexSans-Bold.otf") format("opentype"),
    url('../fonts/Bold/IBMPlexSans-Bold.svg#svgIBMPlexSans-Bold') format('svg');
    font-style: normal;
    font-weight: normal;    
}

html {
overflow-x: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after {
    clear: both;
}

#previous {
  display: none;
  margin-right: 10px;
}


.out_text.directions {  
  position: relative;
}
.content_block.out_white {
  background-color: rgb(254, 254, 254);
  position: relative;
  color: #000;  
}
.content_block.black {
   color: #fff; 
   background-color: rgba(0, 0, 0, 0.6);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.content_block.black_hell {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
}
.out_text.directions { 
  width: 100%;
  margin:auto;
}
.svg_icons {
  display: block;
  margin:auto;
  margin-top: 3.125rem;
}
.out_interest_white{
   color: #fff;    
   bottom: 1.25rem;
   text-align: center;
   font-size: 1.25rem;
   font-family: "IBM Plex Sans Medium";  
}
.out_interest_black {
  font-family: "IBM Plex Sans Light"; 
  font-size:  2.5rem; 
  letter-spacing: 1.1px;
   line-height: 1.25;
   text-align: left;
   color: #191919;
   padding-left: 15.8%;
   padding-top: 23%;
}
.out_interest_black span.red {
  border-bottom: 0.25rem solid rgb(231, 84, 84);
}
.out_of_icon {
    display: inline-block;
    width: 6.25rem;
    height: 6.0625rem;
   }
.acceptable_icon {
    width: 5.1875rem;
  height: 3.9375rem;  
  display: block;
  margin-bottom: 18%;
}
.acceptable_text .description {
  font-size: 1.25rem;
  font-family: "IBM Plex Sans Medium";
  color: rgb(37, 37, 37);
  line-height: 1.5;
  text-align: left;
  color: #252525;  
  margin:auto;   
}
.back_icon {
    width: 15.625rem;
    height: 15.625rem;
    position: absolute;
    bottom: 0;
    right: 0.625rem;
    z-index: 0;    
}
 
.content_block.green {
  background-color: rgb(36,195,159);
  background-image: -webkit-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  background-image: -ms-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex; 
}


.content_block.white{
 
 background-size: cover;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 background-position: center;
 background-repeat: no-repeat;
  
  font-size: 1.25rem;
  font-family: "IBM Plex Sans";
  color: rgb(37, 37, 37);
  padding-right: 3%;
 
   padding-top: 2.375rem;
   padding-left: 3.375rem;
  

  border: 1px solid #061016;
}

.block1 {
  background-image: url('../images/icon1.png');
}

.block2 {
  background-image: url('../images/icon3.png');
}

.block3 {
  background-image: url('../images/icon4.png');
}

.block4 {
  background-image: url('../images/icon2.png');
}

.criterion {
  font-size: 2.5em;
  font-family: "IBM Plex Sans Light";
  color: rgb(255, 255, 255);
  line-height: 1.25;
  padding-left: 15.8%;
  padding-top: 17%;
  text-align: left;
}

.galka {
  background-image: -webkit-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  background-image: -ms-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  -webkit-box-shadow: 0px 19px 142px 0px rgba(0, 0, 0, 0.72);
          box-shadow: 0px 19px 142px 0px rgba(0, 0, 0, 0.72);
  
}
.content_block {
    padding-right: 0;
    padding-left: 0;   
    
}

.cross {
    height: 6.25rem;
    width: 6.25rem;
    background-color: transparent;
    margin:auto;
    position: absolute;
    top:4.375rem;    
    left:0;
    right:0;
}

.x {
  width: 6.875rem;
  height: 6.875rem;
  position: relative;
}

.x::before,
.x::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-right: 0.3125rem solid #e75454;
}

.x::before {
  -webkit-transform: rotate(45deg) translate(-55px, 0);
      -ms-transform: rotate(45deg) translate(-55px, 0);
          transform: rotate(45deg) translate(-55px, 0);
}

.x::after {
  -webkit-transform: rotate(-45deg) translate(-55px, 0);
      -ms-transform: rotate(-45deg) translate(-55px, 0);
          transform: rotate(-45deg) translate(-55px, 0);
}

#msform {
  width: 100%; 
  
}
.footer {
    background-color: #000;
    min-height: 9.375rem;
    /*line-height: 9.375rem;*/
   
    position: relative;
    z-index: 33;
   
    margin:auto;
   
    bottom: 0;
    
    }
    .footer_content{
     width: 80vw;
     max-width: 1100px;
     margin:auto;
     position: relative;
     padding-top: 20px;
        
    }

p.copyright {
    color: #fff;
    font-family: 'IBM Plex Sans';
    text-align: left;
    font-size: 1rem;
    display: inline;
}

div.social_iconsBlock {
    display: inline-block;
    float: right;
    margin-right:  0.9375rem;
    /*padding-bottom: 0.8125rem;*/
}

div.social_iconsBlock a {    
    display: inline-block;
    margin-right: -0.3125rem;
}

img.social_icon {
    display: inline-block;
    height: 3.125rem;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    border: 1px solid #3a5a84;
}

img.social_icon:hover{
opacity: 0.8;
-webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
        transform: scale(1.4);
}
 
.form_container {
    /*min-height: 540px;*/
    padding-bottom: 1.875rem; 
    position: relative;
    
}

#msform input.filename
 {
     background-color: transparent;
     border: 1px solid transparent;
     color: #fff;
     width: 40%;
     display: inline-block;
     padding: 0 10px;
    
}

#msform input.filename:first-child{
  float: left;
}

#form {
  position: relative;
  z-index: 23;
  width: 99%;
 
}

#msform {
    width: 100%;
    margin: auto;
    text-align: center;
   
    
}
#msform fieldset {   
    border: 0 none;
    border-radius: 3px;   
    padding: 0px;    
    -webkit-box-sizing: border-box;    
            box-sizing: border-box;
    min-width: 100%; 
    position: relative;
    display: none;
}

#msform fieldset.double_section {
  display: block;
}

#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "IBM Plex Sans Italic";
    color: #2C3E50;
    font-size: 14px;
    color:#989898;
    resize: none;
    box-sizing: border-box;
}

#msform input.team_amount {
  max-width: 8.0625rem;
  margin-left: 0;
  font-family:'IBM Plex Sans Medium';
     font-size: 0.875rem;
     display: block;
   float: left;
   text-align: left;
  
   
}

.team_container {
  width: 100%;
  height: 3.75rem;
  margin-bottom: 1.25rem;
 
  position: relative;
}

#msform .action-button {
    width: 20.6875rem;
  height: 5rem;
  background-color:  rgb(36,195,159);
  background-image: -webkit-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  background-image: -ms-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
    
    color: #fff;
    border:none;
    outline: none;
    font-family:'IBM Plex Sans Bold';
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 5rem;
    cursor: pointer;
 
    float: right; 
}
textarea {
    height: 19.9375rem;
}
.first_part {
    width: 65%;    
     display: inline-block;
      padding-left: 0px;
      padding-right: 0.625rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      float: left;
    
}
.second_part {
    width: 35%;   
    float: left;
    padding-left: 0.625rem;
    padding-right: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;   
    display: block;
    
}
.file-upload {
  display: inline-block;
  max-width: 50%;
  margin-right: 0.9375rem;
  float: left;
}

#msform .action-button:hover, #msform .action-button:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(80, 227, 194, 0.8);
            box-shadow: 0 0 0 2px rgba(80, 227, 194, 0.8);   
    background-image: none;
    background-color:rgba(80, 227, 194);
}
.fs-title {
    font-size: 1rem;
    display: block;
    text-transform: none;
    color: #fff;
    margin-bottom: 0.625rem;
    text-align: left;
    font-family:"IBM Plex Sans Medium";
    margin-top: 0;
    margin-bottom: 0.8125rem;

}

.button_block {
  
  min-height: 20rem;
  padding-top: 2.4375rem;
  position: relative;
}


#progressbar {    
    overflow: hidden;    
    counter-reset: step;
    max-width: 27.5rem;   
   position:relative;

float:left;
margin:0 10px;
height:5rem;    
}

#progressbar ul li {
color: #fff;
display:block;
text-decoration:none;
padding:0 0.9375rem;
}

.form_container {
  
  height: 100%;
  width: 100%;
  margin:auto;
}

.form_title {
  font-size: 2.5rem;
  text-align: center;
  line-height: 2.5rem; 
  font-family: "IBM Plex Sans Light";
  margin-top: 7rem;
  margin-bottom: 4rem;
  letter-spacing: 0.08125rem;
}


#progressbar {
  float: left;
}


#progressbar li {
    list-style-type: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.125rem;  
    width: 5rem;
    float: left;
    position: relative;
    font-family: "IBM Plex Sans Bold";
}


#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    display: block;
    font-size: 1.25rem;
    color: #fff;
    
    
}

#progressbar li:nth-child(1){
  background-color: #50e3c2;
}

#progressbar li:nth-child(2){
  background-color: #41b89e;
}
#progressbar li:nth-child(3){
  background-color: #328c7a;
}

#progressbar li:nth-child(4){
  background-color: #266459;
}

#progressbar li:first-child:after {
    
    content: none; 
}

#progressbar li.active:before,  #progressbar li.active:after{
    background-color: rgb(80, 227, 194);

    color: #fff;
}

.file-upload {
     position: relative; 
     overflow: hidden; 
     width: 46%;
     height: 2.5rem;
     line-height: 2.5rem;
     background: #fff;     
     padding: 0.5rem 0.25rem;
     color: #000;
     text-align: center;
     margin-bottom: 1.25em;
     display: inline-block;
    
}
.file-upload:hover {
     background: #ddd;
}
.file-upload input[type="file"]{
    display: none; 
}
.file-upload label {
     
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;


}
.file-upload span {
     line-height: 3.75rem; 
     font-family:'IBM Plex Sans Medium';
     font-size: 0.875rem;
    


     
}

.upload_icon {
  width: 0.9375rem;
  display: inline-block;
  margin-right: 1.5625em;
}

.button_icon {
  width: 1.25em;
  display: inline-block;
  margin-left: 3.4375rem;
}

.button_icon2 {
width: 1.25em;
  display: inline-block;
  margin-right: 3.4375rem;
}



#user_block, .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.8125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
  
}


#msform input.compulsory1{
 
  width: 28%;
  max-width: 21.6875rem;
 

}

#msform input.compulsory2{
 
  max-width: 33.1875rem;
  width: 45%;
 
}

#msform input.team_amount {
    font-size: 1.1rem;
    color: #000;
    min-height: 4rem;
}

#msform #send {
  position: relative;
  display: none;

}




#letter_sent {
  margin:auto;
  height: 31.75rem;
  width: 80vw;
  background-color: rgb(36,195,159);
  background-image: -webkit-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  background-image: -ms-linear-gradient( 42deg, rgb(36,195,159) 0%, rgb(53,214,178) 100%);
  -webkit-box-shadow: 0px 19px 142px 0px rgba(0, 0, 0, 0.72);
          box-shadow: 0px 19px 142px 0px rgba(0, 0, 0, 0.72);
  /*background: none repeat scroll 0 0 #fff;*/
    /*border: 1px solid #808040;*/
    left: 50%;
    margin-left: -40vw;
    padding: 1.5625rem 1.25rem;
    position: fixed;
    top: 5rem;
    
    min-height: 320px;
    z-index: 207;
    display: none;
    padding-top: 5rem;
    padding-bottom: 4rem;
    margin-bottom: 1.25rem;
  
  
 
 
}

.letter {
  font-size: 2.5rem;
  font-family: "IBM Plex Sans Light";
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  line-height: 2.625rem;
  margin-top: 2.1875rem;
  text-align: center;
  position: relative;
  z-index: 
}

.letter.smaller_text {
   font-size: 1.5rem;
  font-family: "IBM Plex Sans";
  letter-spacing: 0.125rem;
  color: rgb(255, 255, 255);
  line-height: 1.5rem;
  margin-top: 1.5625rem;
  text-align: center;
  width: 60%;
  margin:auto;
}

.svg_sent {
  text-align: center;
   display: block;
    margin:auto;
}

.criterion {
    font-size: 2.5rem;
    font-family: "IBM Plex Sans Light";
    color: rgb(255, 255, 255);
    line-height: 2.5rem;
    padding-left: 0px;
    padding-top: 0px;
    text-align: center;
    display: block;
    margin:auto;
    width: 80%;
}
.out_text.title {
  width: 100%;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
}
.acceptable_text.title{
 width: 100%;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  
  height: 100%;
}
.video_block__content {
    margin: auto;
    width: 95%;
}
.content_block.white {    
    max-width: 100%;  
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    display: block;
    /*max-width: 8.0625rem;*/
    position: relative;
}

.number-input,
.number-input * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;    
    position: relative;
}

button.team_select {
    display: inline-block;
    border: none;
    outline: none;   
    position: absolute;
    z-index: 195;   
    cursor: pointer;
    height: 0.9375rem;
    width: 0.9375rem;
    background-color: transparent;
    border:none;
    
}
button.team_select.up {
  background-image: url(../images/up.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
    display: inline-block;
    border: none;
    outline: none;
    position: absolute;
    z-index: 195;
    top: 0.9375rem;
    right: 0.625rem;
    cursor: pointer;
       
}

button.team_select.down {
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
    position: absolute;
     z-index: 195;
    bottom: 0.9375rem;
    right: 0.625rem;
   
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border-width: 0 2px;
    font-size: 2rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
}

.popup {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    left: 50%;
    margin-left: -25vw;
    padding: 1.5625rem 1.25rem;
    position: fixed;
    top: 5rem;
    width: 50vw;
    max-width: 50rem;
    height: auto;
    z-index: 200;
    display: none;
}
#blindLayer {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 199;
    display: none;
    height: 100%;
    width: 100%
}

.close1 {
    background: url('../images/close2.png') no-repeat 0px 0px;
    color:#333;
    background-size: contain;
    cursor: pointer;
    width: 0.9375rem;
    height: 0.9375rem;
    position: absolute;
    text-align: center;
    right: 0.3125rem;
    top: -0.4375rem;
    cursor: pointer;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    z-index: 201;
}

.close1:hover{
  opacity: 0.8;
}


#close {
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  position: absolute;
  top: -3.4375rem;
  right: 1.5625rem;
  width: 1.875rem;
  height: 1.875rem;  
  z-index: 205;
}

#close:hover{
  opacity: 0.8;
}

@media screen and (max-width : 767px){
#close {    
  position: absolute;
  top: -35px;
  right: 15px;
  width: 25px;
  height: 25px;
}

.popup {    
    width: 80vw;
    top: 3rem;
    left: 50%;
    margin-left: -40vw;
    padding: 20px 15px;
    position: fixed;
    top: 2.5rem;
}
}
.letter_sent__content {
  position: relative;
  z-index: 203;
}

.footer__data {
  text-align: left;
  
  display: inline-block;
  width: 70%;
  
}

img.email_icon {
    display: inline-block;
    height: 3.125rem;
    border: 1px solid #3a5a84;
    margin-right: 1rem;
    
  
}

p.email {
    color: #fff;
    font-family: 'IBM Plex Sans';
    text-align: left;
    font-size: 1rem;
    display: inline-block;
    line-height: 20px;
    padding-bottom: 1.5rem;
    text-align: left;

   
}

@media screen and (max-width: 640px){

.footer__data {
  text-align: center;
  display: block;
  width: 100%;
  padding-top: 25%;
    display: block;
    font-size: 20px;
}
}

@media screen and (max-width: 550px){

.footer__data {
  text-align: center;
  display: block;
  width: 100%;
  padding-top: 20px;
    display: block;
    font-size: 20px;
}
}




/*p.copyright {
    text-align: center;
    padding-top: 35%;
    display: block;
    font-size: 20px;
}*/
}